:root {
  --main-color: #5dbeaa;
  --primary-color: #389f8a;
  --btn-bg: #53d2b7;
  --order-color: #c11574;
  --pay-color: #c4320a;
  --traking-color: #026aa2;
  --danger-color: red;
  --price-color: #e31b54;
  --pink-color: #dd2590;
  --white-color: #fff;
  --gray-color: #eaecf0;
  --transition: all 0.2s ease-in-out;
}

ul {
  list-style: none;
}
li {
  list-style: none;
}
button {
  border-radius: 8px;
}

.phoneNumberInbutBox {
  width: 356px;
  margin-bottom: 24px;
}
.phoneNumberInbutBox .toolipBox {
  position: absolute;
  margin-top: -5.3rem;
  margin-left: 20rem;
}
.phoneNumberInbutBox a {
  color: var(--danger-color);

  font-size: 12px;

  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
.phoneNumberInbutBox .phoneNumberLabel {
  margin-bottom: 6px;
  color: #344054;
  font-size: 14px;

  font-weight: 500;
  line-height: 20px;
}
.phoneNumberInbutBox .PhoneInputCountry {
  padding: 10px 14px 10px 14px;
  text-align: center;

  border: 1px solid #d0d5dd;
  border-right: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.phoneNumberInbutBox .PhoneInputCountry:focus {
  border-color: #bcfff1 !important;
  box-shadow: 0px 0px 0px 4px #f4ebff, 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;
}
.phoneNumberInbutBox .PhoneInputCountrySelect {
}

.phoneNumberInbutBox input {
  width: 320px;

  border: 1px solid #d0d5dd;
  background: #fff;
  border-left: 0;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  padding: 10px 14px 10px 0px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  margin-left: -0.7rem;
}
.phoneNumberInbutBox input:focus {
  border-color: #bcfff1 !important;
  box-shadow: 0px 0px 0px 4px #f4ebff, 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;
}
.phoneNumberInbutBox input:active {
  border-color: #bcfff1 !important;
  box-shadow: 0px 0px 0px 4px #f4ebff, 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;
}

/*main style start*/
.main {
  width: 100%;
  min-height: 100vh;
  background-color: #f4f9f8;
  display: flex;
  justify-content: end;
}
.container1 {
  flex-basis: 100%;
  padding: 0 42px;
}
.container2 {
  flex-basis: 83%;

  background-color: #fff;
}
.container3 {
  flex-basis: 83%;
}
select.form-select {
  font-size: 14px;
  color: #344054;
  font-weight: 600;
  line-height: 20px;
}
/* input[type="checkbox"] {
  border-color: #d0d5dd;
  border-radius: 6px;
}
input[type="checkbox"]:checked {
  appearance: none;
  -webkit-appearance: none;
  border-color: #53d2b7;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
} */
/* input[type="checkbox"]:focus {
  box-shadow: none;
  border-radius: 6px;
} */

.form-switch input {
  border-radius: 12px;
  padding: 13px 25px;
}

input {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  /* padding: 10px 14px 10px 14px; */
}
input[type="checkbox"]:checked::before {
  /* content: "\2713"; */
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;

  background-size: contain;
  background-color: #fff;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border-color: #bcfff1 !important;
  box-shadow: 0px 0px 0px 4px #f4ebff, 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;
}
button.accordion-button:focus {
  box-shadow: none !important;
}

label {
  font-size: 14px;
  color: #344054;
  font-weight: 500;
  line-height: 20px;
}
.input-group-text {
  background-color: var(--white-color) !important;
  color: #667085 !important;
}
@media (max-width: 576px) {
  .main {
    width: 90%;
    margin-left: 10%;
  }
  .container1 {
    padding: 0 15px;

    flex-basis: 100%;
  }
}
@media (max-width: 768px) {
  .main {
    width: 90%;
    margin-left: 10%;
  }
  .container1 {
    padding: 0 15px;
    flex-basis: 100%;
  }
}
@media (max-width: 999px) {
  .main {
  }
  .container1 {
  }
}
/*main style end*/

/*header style start*/
.mainHeader {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.navbar {
  background-color: var(--white-color);
  padding: 1.5rem 4rem;
}
.headerContainer {
  width: 97%;
  margin-left: auto;
  margin-right: auto;
}
.searchBox {
  width: 500px;
}
.imageItem {
  width: 5rem;
  border-radius: 50%;
}
.avatarImage {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.infoItem {
  margin: 0 12px;
}
.offerBox {
  background-color: var(--main-color);
  color: var(--white-color);
  width: 100%;
  padding-top: 0.6rem;
  padding: 0.6rem 1rem 0 1rem;
  position: relative !important;
}
.offerBox p {
  font-size: 16px;
  color: var(--white-color);
  font-weight: 500;
}
.offerBox a {
  color: var(--white-color);
}

@media (max-width: 576px) {
  .searchBox {
    width: 280px;
  }
  .offerBox p {
    font-size: 13px;
    font-weight: 400;
  }
  .avatarImage {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }
}
/*header style end*/

/* sideBar style start*/
.sideBar {
  width: 17%;
  position: fixed;
  min-height: 85.5vh;
  left: 0;
  z-index: 1;
  background-color: var(--white-color);
  border-right: 1px solid #eaecf0;
}
.sideBar .setting {
  width: inherit;
}
.accordion-body {
  padding: 0 !important;
}
.accordion-button:not(.collapsed) {
  background-color: var(--white-color) !important;
}
.AccordionSideBarList {
  width: 100%;
  margin: 0;
  padding: 0;
}
.AccordionSideBarList a {
  text-decoration: none;
}
.AccordionSideBarList .AccordionSideBarListItem {
  display: flex;
  align-items: center;
  padding: 0.1rem 1rem;
  background-color: var(--white-color);
  transition: var(--transition);
  width: 100%;
}
.AccordionSideBarList .AccordionSideBarListItem img {
  margin-right: 0.7rem;
}
.AccordionSideBarList .AccordionSideBarListItem p {
  color: #667085;
  margin-top: 0.7rem;
  font-size: 15px;

  font-weight: 500;
}
.AccordionSideBarList .AccordionSideBarListItem:hover p,
.AccordionSideBarList .AccordionSideBarListItem p.active {
  color: var(--main-color);
}

.AccordionSideBarList .AccordionSideBarListItem:hover,
.AccordionSideBarList .AccordionSideBarListItem.active {
  background-color: #f4f9f8;
  border-left: 3px solid var(--main-color);
}
.AccordionSideBarList .AccordionSideBarListItem a.active {
  color: var(--main-color);
}

@media (max-width: 576px) {
  .AccordionSideBarList .AccordionSideBarListItem {
    padding: 1rem 0;
  }
  .AccordionSideBarList .AccordionSideBarListItem p {
    display: none;
  }
  .AccordionSideBarList .AccordionSideBarListItem img {
    width: 1.1rem;
    height: 1.1rem;
    margin-left: 1rem !important;
  }
  .sideBar {
    width: 10%;
  }
}
@media (max-width: 768px) {
  .AccordionSideBarList .AccordionSideBarListItem {
    padding: 1rem 0;
  }
  .AccordionSideBarList .AccordionSideBarListItem p {
    display: none;
  }
  .AccordionSideBarList .AccordionSideBarListItem img {
    width: 1.1rem;
    height: 1.1rem;
    margin-left: 1.5rem;
  }
  .sideBar {
    width: 10%;
  }
}
/* sideBar style end*/

/* widget style start*/
.widgetBox {
  background-color: var(--white-color);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  width: 24%;
  height: 130px;
  border: 1.5px solid #eaecf0;
  margin-bottom: 1rem;
}
.widgetBox div p {
  font-size: 13px;

  font-weight: 400;
  line-height: 18px;
}
.widgetBox div h3 {
  font-size: 22px;

  font-weight: 500;
  line-height: 30px;
}
.widgetBox div .status {
  color: #d0d5dd;
  margin: 0 0.2rem;
}
.widgetBox div .increase {
  color: #198754;
}
.widgetBox div .decrease {
  color: red;
}

@media (max-width: 576px) {
  .widgetBox {
    width: 49%;
  }
}
@media (max-width: 768px) {
  .widgetBox {
    width: 49%;
  }
}
@media (max-width: 999px) {
  .widgetBox {
    width: 49%;
  }
}

/* widget style end*/

/* titleHeader style start*/
.titleHeaderp {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;

  margin-left: auto;
  margin-right: auto;
  background-color: var(--white-color);
  padding: 0.4rem 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eaecf0;

  top: 14%;
  right: 0;
  position: static;
  z-index: 1000000;
}
.titleHeaderp h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

/* titleHeader style end*/

/* signup style start*/
.signUpLeft {
  width: 35%;
  background-color: var(--main-color);
  min-height: 100vh;
  padding: 48px;
  justify-content: space-between;
  color: var(--white-color);
}
.signUpLeft img {
  margin-bottom: 2rem;
}
.signUpLeft h3 {
  font-size: 24px;

  font-weight: 500;
  line-height: 32px;
  margin-bottom: 1rem;
}
.signUpLeft p {
  font-size: 15px;
  width: 70%;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 2rem;
}
.signUpLeft a svg {
  margin-right: 0.4rem;
}
.signUpLeft a {
  color: var(--white-color);
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
}

.TermsAndConditionsList {
  margin-top: 24rem;
}
.TermsAndConditionsList ul {
  margin: 0 !important;
}

.TermsAndConditionsList ul li {
  margin: 1rem 0;
}

.signUpRight {
  width: 65%;
  background-color: var(--white-color);
  padding: 45px 45px 45px 70px;
}
.signUpRight div p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.signUpRight div p a {
  color: var(--btn-bg);
  text-decoration: none;
}
.signUpRight .topLink {
  margin-bottom: 40px;
}
.signUpRight .signUpContent h3 {
  font-size: 30px;
  font-weight: 500;
  line-height: 38px;
}
.signUpRight .signUpContent form input {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  padding: 10px 18px;
}
.signUpRight .signUpContent p {
  width: 50%;

  font-size: 20px;

  font-weight: 400;
  line-height: 28px;
}
form,
.submitBtn {
  width: 45%;
}
.submitBtn button {
  background-color: var(--btn-bg);
  color: var(--white-color);
  font-weight: 600;
  padding: 10px 18px;
}
.submitBtn button:hover {
  background-color: var(--btn-bg);
  color: var(--white-color);
  font-weight: 600;
}
.termsAndConditionBox {
  margin-top: 35px;
  width: 45%;
}
.termsAndConditionBox p {
  font-size: 12px;
  font-weight: 400 !important;
  line-height: 15px;
}
.termsAndConditionBox p a {
  margin: 0 0.3rem;
}

/* signup style end*/

/*login style start*/
.loginCaontainer {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  border-radius: 12px;
  border: 1px solid #d0d5dd;
  width: 392px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}
.loginCaontainer a {
  color: var(--btn-bg);
  text-decoration: none;
  color: var(--Brand-700, #5dbeaa);

  font-size: 15px;

  font-weight: 500;
  line-height: 18px;
}
.loginCaontainer a img {
  margin-right: 0.3rem;
}
.loginCaontainer .loginCaontainerLogo {
  width: 45px;
  height: 45px;
}
.loginCaontainer .loginCaontainerLogo img {
  width: 100%;
}
.loginCaontainer h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 20px;
}
.loginForm {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.loginForm input {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  padding: 10px 14px;
}
p.forgetpassworddescription {
  font-size: 12px;
  color: #1d2939;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}
.regList {
  margin-left: auto;
  margin-right: auto;
}
.regList div li {
  list-style: disc;
  font-size: 12px;

  margin-left: 1rem;
  font-weight: 500;
}
.leftList {
  margin-left: -2rem;
}
.rightList {
  margin-left: 3rem;
}
.submitBtn button a {
  color: var(--white-color);
}
/*login style END*/

/* input style start*/
.mainInput {
}
.mainInput label {
  font-size: 14px;

  font-weight: 500;
  line-height: 20px;
}

/* input style end*/
/* mainbutton style end*/

.mainButton {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  line-height: 24px;
}

/* mainbutton style end*/

/* orderPage style start*/
.orderBigWidget {
  background-color: var(--primary-color);
  padding: 30px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 140px;
  color: var(--white-color);
  border-radius: 7px;
  margin-top: -1rem;
  margin: 1rem 0;
}
.orderNumber {
  margin-right: 2rem;
}
.orderNumber h4 {
  font-size: 35px;
  font-weight: 700;
  line-height: 42px;
}
.orderBigWidgetTextMain h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
}
.orderBigWidgetTextMain p {
  font-size: 17px;

  font-weight: 400;
  line-height: 18px;
}
.mainContent {
  width: 100%;
}
.tablesContainer {
  background-color: var(--white-color);
  width: 100%;
  padding: 25px;
  border: 1px solid #eaecf0;
  border-radius: 7px;
}
.orderSearchBox {
  width: 100%;
  align-items: center;
}

.orderSearchBox input {
  margin-top: -1.2rem;
  border-radius: 4px !important;
}
.orderSearchBox input::placeholder {
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  color: var(--black-color);
}
.orderSearchBox button {
  border: 1px solid #eaecf0;
  background-color: var(--white-color);
  margin-left: 0.5rem;
}
.orderSearchBox button:hover {
  background-color: var(--white-color);
}
.filterBtn {
}

.orderSearchBox .inputBox input {
  width: 100%;
}
.orderSearchBox .inputBox button {
  margin-top: 1rem !important;
}

@media (max-width: 576px) {
  .orderSearchBox {
    width: 90%;
  }
  .orderNumber h4 {
    font-size: 25px;
    font-weight: 600;
    line-height: 20px;
  }
  .orderBigWidgetTextMain h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
  }
  .orderBigWidgetTextMain p {
    font-size: 14px;

    font-weight: 400;
    line-height: 15px;
  }
  .orderBigWidget {
    padding: 1rem 0.7rem;
  }
  .orderBigWidget .btnBox {
    width: 60%;
    margin-left: 1.5rem;
    text-align: end;
  }
  .orderBigWidget .btnBox button {
    font-size: 12px !important;
    font-weight: 500 !important;
    line-height: 17px;
  }
}
@media (max-width: 768px) {
  .orderSearchBox {
    width: 90%;
  }
}

/* orderPage style end*/

/* order table style start*/
.orderBox {
  padding: 12px;
  background-color: #fcfcfd;
  border: 1px solid #eaecf0;
  margin-top: 20px;
  width: 100%;
}
.orderBox p {
  font-size: 14px;

  font-weight: 500;
  line-height: 20px;
  margin-top: 7px;
}
.orderBox .orderBoxHeading {
  margin-bottom: 16px;
}
.orderBox .ordersCustomer {
  background-color: #eef4ff;
  display: flex;
  align-items: center;
  padding: 7px 5px 1px 4px;

  border-radius: 16px;
}
.orderBox .ordersCustomer h5 {
  color: #3538cd !important;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-left: 0.4rem;
}
.orderBox .ordersCustomer h5 a {
  text-decoration: none;
}
.orderBox .orderBoxHeading .ordersNumber label span {
  color: var(--btn-bg);
  margin-left: 0.5rem;
  margin-top: 7px;
}
.orderBox .orderBoxHeading .ordersNumber .form-check input {
  margin-top: 9px;
}
.orderBoxHeadingLeft {
  width: 60%;
  align-items: center;
  justify-content: space-between;
}
.orderAllProducts button {
  background-color: #c11574;
  color: #fff;

  font-size: 14px;
  transition: var(--transition);
  font-weight: 600;
  line-height: 20px;
}
.orderAllProducts button:hover {
  background-color: #c11574;
  color: #fff;
}

/*table style start*/
.mainOrderTable {
  width: 100%;
}
.mainOrderTable p {
  font-size: 14px;

  font-weight: 500;
  line-height: 20px;
}
.lifeStore img {
  margin-right: 16px;
}
.mainOrderTable p {
  margin-top: 15px;
}

.toprow div {
  margin-right: 32px;
}
.toprow .statusBox {
  display: flex;
  padding: 5px 5px 0px 5px;
  justify-content: center;
  border-radius: 16px;
  align-items: center;
}
.toOrder {
  color: #c11574;
}
.toOrder2 {
  background-color: #c11574;
}

.toprow .statusBox p {
  font-size: 12px;
  margin-top: 7px;
  font-weight: 500;
  line-height: 18px;
}
.toprow .statusBox span {
  margin-top: -0.4rem;
}
.toprow .statusBox .statusFlag {
  width: 8px;
  height: 8px;
  border-radius: 50%;

  margin-right: 0.5rem;
}

table {
}
thead {
  width: 100%;
}

tr td {
  width: 25%;
  padding: 14px 22px;
}
tr td div {
  width: 100%;
}
tr td div {
  margin-right: 0.5rem;
}
tr td div .orderImage {
  width: 60px;
  height: 45px;
  margin: 0 1rem;
}
tr td div select {
  width: 65% !important;
  margin-left: auto;
  margin-right: auto;
}
tr td div .orderImage img {
  width: 100%;
  height: 100%;
}
.tableProductDetails h6 {
  font-size: 13px;
  font-weight: 500;
}
.tableProductDetails p {
  font-size: 14px;
  margin: 0;
  font-weight: 400;
  color: #667085;
}
.country p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.orderPrice p {
  font-size: 14px;
  color: #389f8a;
  font-weight: 400;
  line-height: 20px;
}
/*table style end*/

/* order table style end*/

/* orderPage style end*/

/* importsPage style start*/
/* product style start*/
.productsContainer {
  width: 100%;
}
.productBox {
  width: 22%;
  background-color: var(--white-color);
  margin-bottom: 3rem;
}
.productBox a {
  color: black;
  text-decoration: none;
}
.productBox .productImage {
  width: 100%;

  border-radius: 5px;
  margin-bottom: 15px;
}
.productBox .productImage img {
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
  height: 155px;
}
.productBox .productContent h3 {
  font-size: 17px;

  font-weight: 600;
  line-height: 24px;
  margin-bottom: 0.5rem;
}
.productBox .productContent p.price {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.productBox .productContent p.sale {
  font-size: 12px;

  font-weight: 400;
  line-height: normal;
  text-decoration-line: strikethrough;
}
.productReview {
  margin-top: -1rem;
}
.productReview p {
  font-size: 15px;

  font-weight: 400;
  color: var(--black-color);
  line-height: 35px;
  margin-left: 0.5rem;
}

.addBtnBox {
  width: 100%;
}
.addBtnBox button {
  font-size: 15px;
  width: 98%;
  font-weight: 500;
  line-height: 18px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #d0d5dd;
}
.addBtnBox button:hover {
  border: 1px solid #d0d5dd;
}
.saleBox {
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  background-color: var(--pink-color);
  color: var(--white-color);
  position: absolute;
  width: 50px;
  height: 50px;
  text-align: center;
  transform: rotate(-15deg);
  border-radius: 10px;
  margin-left: 14.5rem;
  margin-top: -1.2rem;
}
.saleBox p {
  font-weight: 400;
  font-size: 16px;
}
.catIcon {
  position: absolute;
  margin-top: 8px;
}
.catIcon a svg {
}
.productIcons span a img {
  width: 16px;
  height: 16px;
}

@media (max-width: 576px) {
  .productBox {
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
  }
  .productBox .saleBox {
    margin-left: 20rem !important;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 0.4rem;
  }
}
@media (max-width: 768px) {
  .productBox {
    width: 48%;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
  }
  .productBox .saleBox {
    margin-left: 20rem;
  }
}
@media (max-width: 999px) {
  .productBox {
    width: 46%;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
  }
  .productBox .saleBox {
    margin-left: 18rem;
  }
}

/* product style end*/

/* navigationFooter style start*/

.navigationFooter {
  background-color: var(--white-color);
  border-top: 1px solid var(--gray-color);
  width: 99%;
  margin-left: auto;
  margin-right: auto;
  margin: 2rem 0;
}
.navigationFooter .navsBtns button {
  background-color: white;
  border-color: #ccc;
}
.navigationFooter .navsBtns button:hover {
  border-color: #ccc;
}
.navigationFooter .pagesNumbers p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

/* navigationFooter style end*/

/* productDetails style start*/

.productDetailsContainer {
  margin-top: 2rem;

  flex-wrap: wrap;
  display: flex;
}
.productDetailsContainer .productDetailsMedia {
  width: 35%;
}
.productDetailsContainer .productDetailsMedia .bigMediaBox {
  width: 426px;
  height: 406px;
}
.productDetailsContainer .productDetailsMedia .bigMediaBox img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.productDetailsContainer .productDetailsMedia .smallMediaBox {
  width: 70px;
  height: 66px;
  cursor: pointer;
}
.productDetailsContainer .productDetailsMedia .smallMediaBox img {
  width: 100%;
  height: 100%;
}
.productDetailsContainer {
  justify-content: space-between;
}
.productDetailsContainer .productDetailsContent {
  padding: 2rem 0;

  width: 60%;
}
.productDetailsContainer .productDetailsContent h3 {
  color: var(--price-color);
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  margin-right: 1rem;
}
.productDetailsContainer .productDetailsContent p.salePrice {
  font-size: 19px;
  margin-top: 0.5rem;
  font-weight: 400;
  line-height: normal;
  margin-right: 1rem;
}
.productDetailsContainer .productDetailsContent p.salePer {
  font-size: 19px;
  color: var(--danger-color);
  font-weight: 400;
  line-height: 28px;
  margin-top: 0.5rem;
}
.productDetail {
  width: 84%;
}
.productDetail h4 {
  color: var(--black-color);

  font-size: 22px;

  font-weight: 600;
  line-height: 30px;
}
.productReview {
}
.productReview p,
.stockBox .stockStatus {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.productReview .rateValue p {
  color: var(--pay-color);
  margin-top: 1.5rem;
}
.productReview .reviewValue p {
  color: var(--black-color);
  margin-top: 1.5rem;
}
.stockBox {
}
.statisticOfProduct a {
  color: var(--black-color);

  margin-left: 0.4rem;
}
.statisticOfProduct hr {
  width: 15px;
  transform: rotate(90deg);
  margin-left: -0.7rem;
}
.productStattistics {
  margin-right: 1rem;
}
.importedBox {
  margin-top: 1rem;
}
.importedBox p {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}
.importedBox img {
  margin-top: -1rem;
  margin-right: 0.5rem;
}
.importsBtns {
}
.importsBtns button {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: var(--white-color);
  margin-right: 1rem;
  border-radius: 8px;
}
.importsBtns button.editBtn {
  background-color: var(--btn-bg);
}
.importsBtns button.editBtn:active {
  background-color: var(--btn-bg);
}
.importsBtns button.editBtn:hover {
  color: var(--white-color);
}
.importsBtns button.removeBtn {
  background-color: var(--danger-color);
}
.importsBtns button.removeBtn:active {
  background-color: var(--danger-color);
}
.importsBtns button.removeBtn img {
  margin-right: 0.5rem;
}
.importsBtns button.removeBtn:hover {
  color: var(--white-color);
}
.productBrand {
  margin-top: 2rem;
}
.productBrand h5 {
  font-size: 16px;

  font-weight: 500;
  line-height: 20px;
  margin-right: 1rem;
}
.brendColorImages {
  margin-left: 3.5rem;
}
.brendColorImages img {
  width: 70px;
  height: 66px;
  max-height: 100px;
  margin: 0 0.5rem;
}
.brandType a {
  color: var(--black-color);
}

@media (max-width: 576px) {
  .productDetailsContainer .productDetailsContent {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .productDetailsContainer .productDetailsMedia {
    width: 100%;
  }
  .productDetailsContainer .productDetailsMedia .bigMediaBox {
    width: 420px;
    height: 406px;
  }
  .productDetailsContainer .productDetailsMedia .bigMediaBox img {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /* object-fit: cover; */
  }
}
@media (max-width: "768px") {
  .productDetailsContainer .productDetailsContent {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .productDetailsContainer .productDetailsMedia {
    width: 100%;
  }
  .productDetailsContainer .productDetailsMedia .bigMediaBox {
    width: 420px;
    height: 406px;
  }
  .productDetailsContainer .productDetailsMedia .bigMediaBox img {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /* object-fit: cover; */
  }
}
/* productDetails style end*/

/* offcanvas style start*/

.ProductStatisticsContainer {
  padding: 0.5rem;
  /* background-color: #e9fffa; */
}
.ProductStatisticsReview {
  margin-top: -1rem;
}
.ProductStatisticsContainer p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.ProductStatisticsContainer .ProductStatisticsIcon {
  margin-bottom: 0.5rem;
  width: 50px;
  height: 50px;
}
.ProductStatisticsContainer .ProductStatisticsIcon img {
  width: 100%;
  height: 100%;
}
.ProductStatisticsContainer .ProductStatisticsHeading {
  font-size: 19px;
  font-weight: 600;
  line-height: 28px;
  color: #101828;
  margin: 1rem 0;
}

/* offcanvas style end*/

.accordion-button:focus {
  background-color: var(--white-color) !important;
  border-color: var(--white-color) !important;
}
/* importsPage style end*/

/* profile style start*/
.profileContainer {
  background-color: var(--white-color) !important;
  width: 100%;
}
.profileCover {
  width: 100%;
  max-height: 240px;
}
.profileCover img {
  width: 100%;
  object-fit: cover;
}
.profileImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;

  border: 4px solid #fff;
  position: absolute;
  top: 19rem;
  left: 19%;
}
.profileImage img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.profileNameAndDataContainer {
  display: flex;
  justify-content: end;
  padding-top: 2rem;
  width: 100%;
}
.profileNameAndData {
  padding-right: 35px;
  width: 85%;
  margin-bottom: 50px;
}
.userAndEmail h3 {
  font-size: 30px;

  font-weight: 500;
  line-height: 38px;
}
.userAndEmail p {
  font-size: 16px;
  color: #667085;
  font-weight: 400;
  line-height: 24px;
}
.infoWithForm {
  width: 100%;
  padding: 0 32px;
  justify-content: space-between;
}
.infoWithForm .PersonalInfo {
  width: 28%;
  background-color: #fff;
}
.infoWithForm .PersonalInfo h5 {
  font-size: 14px;
  color: #344054;
  font-weight: 500;
  line-height: 20px;
}
.infoWithForm .PersonalInfo ul {
  margin-left: -1.9rem;
}
.infoWithForm .PersonalInfo li {
  margin-bottom: 16px;
}
.infoWithForm .PersonalInfo li a {
  font-size: 14px;
  color: #98a2b3;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
}
.infoWithForm .PersonalInfo li a.active {
  color: #000;
}
.profileForm .upgradePlanTitle h4 {
  font-size: 16px;
  color: black;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 10px;
}
.profileForm .upgradePlanTitle p {
  font-size: 14px;
  color: #667085;
  font-weight: 400;
  line-height: 20px;
}
.profileForm form .topInput .inputBox {
  width: 49%;
}
.profileForm .upgradePlanTitle p span {
  font-size: 14px;
  color: #000;

  line-height: 20px;
}
.changePassword {
  margin-top: 24px;
}
.changePassword .inputBox {
  width: 49%;
}
.leftRightBtnBox {
  display: flex;
  margin-top: 24px;
}
.plansOptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 24px;
}
.plansOptions .planBox {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #f9fafb;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06),
    0px 1px 3px 0px rgba(16, 24, 40, 0.1);
  padding: 24px 20px;
  width: 260px;
}

.plansOptions .planBox .planBoxHeader {
  margin-bottom: 24px;
}
.plansOptions .planBox .planBoxHeader h5 {
  font-size: 24px;

  font-weight: 500;
  line-height: 32px;
}
.plansOptions .planBox .planBoxHeader p {
  font-size: 14px;

  font-weight: 400;
  line-height: 20px;
}
.upgradeBtn {
  width: 100%;
  text-align: center;
}
.upgradeBtn button {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  width: 100%;

  font-size: 14px;

  font-weight: 600;
  line-height: 20px;

  border-radius: 8px;
  padding: 8px, 14px, 8px, 14px;
}
.upgradeBtn button.current {
  background-color: #fff;
  border: 1px solid #d0d5dd;
  color: #344054;
}
.upgradeBtn button.upgrade {
  color: #fff;
  border: 1px solid var(--btn-bg);
  background-color: var(--btn-bg);
}
.plansOptions .planBox .planBoxPrice {
  margin-bottom: 24px;
}
.plansOptions .planBox .planBoxPrice p {
  font-size: 16px;

  font-weight: 400;
  line-height: 24px;
}
.plansOptions .planBox .planBoxPrice p span {
  font-size: 36px;

  font-weight: 500;

  letter-spacing: -0.72px;
}
.plansOptions .planBox .planBoxFeatures {
  margin-bottom: 20px;
}
.plansOptions .planBox .planBoxFeatures .option {
  margin-bottom: 24px;
}
.plansOptions .planBox .planBoxFeatures .option p {
  font-size: 14px;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
}
.plansOptions .planBox .planBoxFeatures .option div {
  width: 20px;
  height: 20px;
  background-color: #e9fffa;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
.leftRightBtnBox button {
  background-color: #fff;

  border: 1px solid #d0d5dd;
  display: flex;
  padding: 10px 16px;
  color: #344054;

  font-size: 14px;

  font-weight: 500;
  line-height: 20px;
}
.leftRightBtnBox button a {
  color: #000;
  text-decoration: none;
}
.btnactive {
  background-color: #d0d5dd !important;
}
.leftRightBtnBox button.leftBtn {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 0;
}
.leftRightBtnBox button.rightBtn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
.infoWithForm .profileForm {
  width: 70%;
  padding: 24px;
  border-radius: 6px;
  border: 1px solid #f2f4f7;
  background-color: #fff;
}

.profileForm .billingAddressHeader h5,
.profileForm .billingAddressBox .billingAddressBoxHeader h5,
.billingHistoryHeader h5 {
  font-size: 16px;

  font-weight: 500;
  line-height: 24px;
}
.profileForm .billingAddressHeader {
  margin-bottom: 24px;
}
.tableBox {
  width: 100%;
  margin-top: 24px;
}
.tableBox table {
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06),
    0px 1px 3px 0px rgba(16, 24, 40, 0.1);
}
.billingHistoryTable {
  background-color: #fff;
  width: 100%;
}
.tableBox .billingHistoryTable thead {
  border: 1px solid #eaecf0;
}
.tableBox .billingHistoryTable thead tr {
}
.tableBox .billingHistoryTable thead tr th {
  color: #667085;

  padding: 12px 24px;
  align-items: center;
  font-size: 12px;

  font-weight: 500;
  line-height: 18px;
}
table th:first-child {
  border-radius: 8px 0 0 0;
  -moz-border-radius: 8px 0 0 0;
  -webkit-border-radius: 8px 0 0 0;
}

table th:last-child {
  border-radius: 0 8px 0 0;
  -moz-border-radius: 0 8px 0 0;
  -webkit-border-radius: 0 8px 0 0;
}
.billingHistoryTable tbody {
}
.inboxItem table tbody tr {
  background-color: red !important;
}
.billingHistoryTable tbody tr {
  height: 72px;
  padding: 16px 24px;
  background-color: #f9fafb;

  border-bottom: 1px solid #eaecf0;
}
.billingHistoryTable tbody tr:last-child {
  border-bottom: 0;
}
.billingHistoryTable tbody tr td {
  color: #000;

  font-size: 14px;

  font-weight: 400;
  line-height: 20px;
}
.billingHistoryTable tbody tr button.lastBtn {
  border-radius: 8px;
  border: 1px solid #f4fffd;
  background: #f4fffd;
  color: #5dbeaa;

  font-size: 14px;

  font-weight: 600;
  line-height: 20px;

  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.billingHistoryTable tbody tr button.one {
  margin-right: 2.5rem;
}
.billingHistoryTable tbody tr button:hover {
  color: #5dbeaa;
}
tbody tr td input {
}
.tdInput1 {
  width: 5rem;
}
.tdInput2 {
  width: 8rem;
}
.tdInput1 input,
.tdInput2 input {
  margin-top: -2rem;
}
.perviosAndNextBox {
  padding: 12px 24px 16px 24px;
  background-color: #026aa2;
  border: 1px solid #eaecf0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  background-color: #fff;
}

.pageNumber a.active {
  color: var(--btn-bg);
  background-color: #f4fffd;
}
.profileForm .billingAddressBox,
.profileForm .addNewAddressBox {
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  width: 546px;
  padding: 20px;
}
.profileForm .billingAddressBox .billingAddressBoxHeader {
  margin-bottom: 24px;
}
.profileForm .billingAddressBox {
  border: 1px solid #f2f4f7;
}
.visaNumber {
  margin-bottom: 24px;
}
.visaNumber img {
  margin-right: 12px;
}
.visaNumber p {
  color: #000 !important;

  font-size: 16px !important;
  margin: 0 !important;
  font-weight: 400 !important;
  line-height: 24px !important;
}
.deactivateaccount .pOne {
  color: #000;
  font-size: 14px;
  margin: 24px 0;
  font-weight: 500;
  line-height: 20px;
}
.deactivateaccount input {
  margin-right: 0.5rem;

  font-size: 14px;

  font-weight: 500;
  line-height: 20px;
}
.deactivateaccount .p2 {
  margin-top: 0.7rem;
}

.profileForm .billingAddressBox p,
.addNewAddressBox p {
  color: #98a2b3;

  font-size: 14px;
  margin-bottom: 24px;
  font-weight: 400;
  line-height: 20px;
}
.billingAddressBoxStatus {
  border-radius: 16px;
  background: #f4fffd;
  margin-left: 1rem;
  padding: 2px 8px;
  color: #5dbeaa;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 12px;

  font-weight: 500;
  line-height: 18px;
}

.deleteAndEdit button {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

  font-size: 14px;

  font-weight: 600;
  line-height: 20px;
}
.deleteAndEdit button.delete {
  background-color: #d92d20;
  margin-right: 12px;
  color: #fff;
}
.deleteAndEdit button.edit {
  background-color: var(--btn-bg);
  color: #fff;
}
.profileForm .billingAddressBox .billingAddressBoxHeader {
}
.addNewAddressBox {
  border-radius: 5px;
  border: 1px dashed #53d2b7;
  background: #f4fffd;
  margin-top: 24px;
}
.profileForm form {
  width: 100%;
}
.nameInputs {
  width: 100%;
}
.nameInputs .inputBox {
  width: 49%;
}
.uploadImageBox {
  width: 100%;

  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}
.uploadImageBox .imageBoxBeforUpdate {
  width: 70px;
  height: 70px;
}
.uploadImageBox .imageBoxBeforUpdate img {
  width: 100%;
  border-radius: 50%;
  height: 100%;
  margin-bottom: 12px;
}
.dragBox {
  text-align: center;

  width: 85%;
  border: 1px solid #f2f4f7;
  margin-bottom: 1rem;
}
.dragBox {
}
.dragBox .uploderBox input {
  display: none;
}
.dragBox .uploderBox .input-group-prepend label {
  width: 600px;
  height: 50px;
  text-align: center;
  color: #667085;
  font-size: 14px;

  font-weight: 500;
  line-height: 18px;
}
.dragBox .uploderBox .input-group-prepend label div span {
  color: var(--btn-bg);
  font-weight: 600;
}
.uploaderForm {
  cursor: pointer;
}
p.charactersCount {
  font-size: 14px;
  color: #d0d5dd;
  margin-top: 0.5rem;

  font-weight: 400;
  line-height: 20px;
}
input[type="file"] {
  width: 100%;
  height: 100%;
}
.saveChangesBox {
  border-top: 1px solid #f2f4f7;
}

/* profile style end*/

/*inbox style Start*/
.inboxDataContainer {
}
.inboxDataContainer {
  margin-top: 24px;

  padding: 24px 0;
}
.inboxDataContainer .dayOfInbox {
  margin-bottom: 70px;
}
.inboxDataContainer .dayOfInbox h5 {
  font-size: 15px;

  font-weight: 500;
  line-height: 20px;
}
.inboxItemsBox {
  margin-top: 1rem;
}
.inboxItemsBox .inboxItem {
  margin: 24px 0;
}
.inboxItemsBox .inboxItem .productStatusAndName {
}
.inboxItemsBox .inboxItem .productStatusAndName .productStatus {
  border-radius: 4px;

  width: 24px;
  height: 24px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  margin-right: 16px;
}
.inboxItemsBox .inboxItem .productStatusAndName .productStatus.success {
  border: 1px solid #78eed5;
  background: #f7fffd;
}
.inboxItemsBox .inboxItem .productStatusAndName .productStatus.warning {
  border: 1px solid #fedf89;
  background: #fef0c7;
}
.inboxItemsBox .inboxItem .productStatusAndName .productStatus.danger {
  border: 1px solid #fecdca;
  background: #fee4e2;
}
.inboxItemsBox .inboxItem .productStatusAndName .productData p {
  margin: 0;
  color: var(--Black, #000);

  font-size: 14px;

  font-weight: 500;
  line-height: 20px;
}
.viewPriceAndDelete a {
  margin-left: 24px;
  text-decoration: none;
  color: #000;

  font-size: 14px;

  font-weight: 400;
  line-height: 20px;
}
.updateBox {
  width: 100%;
  border-radius: 4px;
  background: #ecfdf3;
  mix-blend-mode: multiply;
  padding: 8px 10px 8px 8px;
  margin-top: -20px;
}
.updateBox div img {
  margin-right: 0.3rem;
}
.updateBox .updateBoxContent {
  color: #027a48;

  font-size: 12px;
  margin: 0;
  font-weight: 500;
  line-height: 18px;
}
.moreActionsBtn {
  margin: 24px 0;
}

.moreActionsBtn div {
  width: 150px;
}
.cancelAndDelete {
  margin-top: 28rem;
}
/*inbox style end*/

/*setting style start */

.settingContent {
  background-color: var(--white-color);
  border-radius: 4px;
  border: 1px solid #eaecf0;
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.settingContent .settingNav {
  width: 100%;
  display: flex;
  padding: 0.3rem 0;
  border-bottom: 1px solid #eaecf0;
  margin-bottom: 40px;
}
.settingContent .settingNav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.settingContent .settingNav ul li {
  display: inline-block;
  list-style: none;
  margin-right: 24px;
}
.settingContent .settingNav ul li a {
  text-decoration: none;
  color: #667085;

  font-size: 12px;

  font-weight: 500;
  line-height: 18px;
}
.settingContent .settingNav ul li a:hover {
  color: #000;
}
.settingContent .settingNav ul li a.active {
  color: #000;
}

.generalContent input[type="radio"] {
  margin-right: 14px;
  width: 20px;
  height: 20px;
}
.radioBox {
  margin-bottom: 24px;
}
.boxWithRadio h4 {
  margin-bottom: 24px;
}
.boxWithRadio h5 {
  font-size: 16px;

  font-weight: 400;
  line-height: 24px;
}
.boxWithRadio p {
  color: #667085;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.generalContent .generalOrderContainer {
  width: 65%;
}
.generalContent .generalOrderContainer h3 {
  color: #000;

  font-size: 24px;

  font-weight: 500;
  line-height: 32px;
  margin-bottom: 40px;
}
.generalContent .generalOrderContainer .generalOrderItem h4 {
  font-size: 16px;
  color: #344054;
  font-weight: 500;
  line-height: 24px;
}
.generalContent .generalOrderContainer .generalOrderItem p {
  font-size: 16px;
  color: #667085;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}
.generalOrderItem {
  margin-bottom: 35px;
  padding-bottom: 24px;
  border-bottom: 1px solid #f2f4f7;
}
.generalOrderItem input {
  margin-right: 12px;
}
.channelTabelHeading .selectBox {
  margin-right: 0.5rem;
}
.tableBox .channelTable {
  margin-bottom: 50px;
}
.tableBox .channelTable thead tr th {
}

.billingHistoryTable {
  background-color: #fff;
  width: 100%;
}
.tableBox .channelTable thead {
  border: 1px solid #eaecf0;
}
.tableBox .channelTable thead tr {
}
.tableBox .channelTable thead tr th {
  color: #667085;

  padding: 13px 24px;
  align-items: center;
  font-size: 12px;

  font-weight: 500;
  line-height: 18px;
}
.tableBox .channelTable tbody tr td {
  height: 72px;
  padding: 16px 24px;
  align-self: stretch;

  align-items: center;

  background-color: #f9fafb;
}
.tableBox .channelTable tbody tr td input[type="checkbox"] {
  margin-right: 12px;
}
table th:first-child {
  border-radius: 8px 0 0 0;
  -moz-border-radius: 8px 0 0 0;
  -webkit-border-radius: 8px 0 0 0;
  padding: 13px 24px 13px 50px !important;
}
.accesstokenStatusSuccess {
  color: #12b76a;
}
.accesstokenStatusDanger {
  color: var(--danger-color);
}
td.expiryDate {
  color: #101828;
  padding: 16px 24px;
  font-size: 14px !important;

  font-weight: 500 !important;
  line-height: 20px;
}
.supplierSettingOptions {
  margin: 35px 0;
}

.supplierSettingOptions h4 {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  line-height: 24px;
}
.supplierSettingOptions p {
  font-size: 14px;
  color: #667085;
  font-weight: 400;
  line-height: 20px;
}
.addBox {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px dashed #d0d5dd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  margin-left: 0.5rem;
  margin-top: 1.5rem;
}

/*setting style end */

.btnWithIcon button {
  background-color: var(--white-color);
  color: var(--black-color);
  font-weight: 600;
  font-size: 14px;
  transition: var(--transition);
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  padding: 10px, 16px, 10px, 16px;
}

.btnWithIcon button img {
  width: 17px;
  height: 17px;
  margin-right: 8px;
}
.btnWithIcon button img.rev {
  width: 17px;
  height: 17px;
  margin-left: 8px;
}
.btnWithIcon button:hover {
  border: 1px solid #d0d5dd;
}

.btnBox button {
  background-color: var(--btn-bg);
  color: var(--white-color);
  font-weight: 600;
  font-size: 14px;
  transition: var(--transition);
  border: 2px solid var(--btn-bg);
  border-radius: 8px;
  padding: 10px, 16px, 10px, 16px;
}
.btnBox button:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--main-color);
  color: #fff;
}
